* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
  margin: 12px 0;
}

table {
  border: 1px solid black;
  margin: 0 auto;
  text-align: center;
  border-spacing: 0;
  max-width: 1100px;
}

td {
  border: 1px solid black;
}

table td {
  padding: 5px;
}

tr:first-child td {
  font-weight: 600;
  background: #333;
  color: white;
}

tr:nth-of-type(odd) {
  background: #eee;
}

.mapDiv {
  width: 50%;
  margin: auto;
  /* background-color: #d3cfef; */
}

.mapDiv svg {
  margin-top: 40px;
}

.mapDiv path {
  fill: #d3cfef;
  stroke: #000;
  stroke-width: 0.5px;
  transition: fill 0.3s;
}

.mapDiv path.area {
  fill: orange;
}

.mapDiv path.area:hover {
  fill: red;
}

@media (max-width: 767px) {}